{% extends "base.html" %}
{% load static %}

{% block title %}
  Cart
{% endblock %}

{% block container %}
<div class="container">
   <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
		  			<span>Shopping cart</span>
					<h2>Shopping cart</h2>
	  </div>
  <table class="form-center">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Refresh amount</th>
        <th>Remove</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Refresh">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">Delete</a></td>
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'shop:all_products' %}" class="btn btn-primary">Back to shop</a>
    <a href="#" class="btn btn-primary">Payment and delivery</a>
  </p>
</div>
{% endblock container %}