{% extends 'base.html' %}
{% load static %}

{% block title %}
 	Fedstore Contact
{% endblock title %}

{% block container %}
		<div class="container">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Contact.</span>
					<h2>Contact.</h2>
				</div>
		</div>
	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
							<li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li class="url"><a href="http://gettemplates.co">gettemplates.co</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>Get In Touch</h3>
					<form method="post">
						<div class="row form-group">
							<div class="col-md-10">
								 {% csrf_token %}
								{% for f in form %}
								<p><label class="form-group" for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
								<span style="color: red" class="form-error"> {{ f.errors }}</span>
								{% endfor %}
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			</div>
		</div>

	<div id="map" class="animate-box" data-animate-effect="fadeIn"></div>

	{% endblock container %}
