{% extends "base.html" %}
{% load static %}

{% block title %}
 	Forgot Password
{% endblock title %}
{% block container %}
<div class="container ">
    <h1>{{title}}</h1>
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
            {% endfor %}

    {% endif %}
<form method="post">
    {% csrf_token %}
    {% for f in form %}
    <div class="row form-group ">
        <div class="col-md-4 ">
    <p><label class="form-group " for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>

        </div>
</div>

    {% endfor %}
    	<div>
		<input type="submit" value="Send me instruction" class="btn btn-primary">
</div>
    <a href="{% url 'register' %}">Create A New Account</a><br><br>
    <a href="{% url 'login' %}">Back To Login</a><br>
</form>
</div>

{% endblock container %}